[Unit]
Description=USB Gadget
Documentation=http://github.com/ev3dev/ev3-systemd
Documentation=http://irq5.io/2016/12/22/raspberry-pi-zero-as-multiple-usb-gadgets
Requires=sys-kernel-config.mount
Wants=network.target
After=sys-kernel-config.mount kmod-static-nodes.service
Before=network.target
 
[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/conf.d/usb-gadget
ExecStart=/usr/lib/usb-gadget/usb-gadget.sh up
ExecStop=/usr/lib/usb-gadget/usb-gadget.sh down

[Install]
WantedBy=usb-gadget.target
Also=serial-getty@ttyGS0.service
